.two-col-grid {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0;
	
	.div1 {
		grid-area: 1 / 1 / 2 / 2;
	}
	
	.div2 {
		grid-area: 1 / 2 / 2 / 3;
		
		.background {
			width: 100%;
			height: 100%;
			background-color: #F0F7FF;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			.wrapper {
				.input-group {
					display: flex;
					flex-direction: column;
					gap: 24px;
				}
				
				width: 400px;
				padding: 40px;
				background-color: #FFFFFF;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
				border-radius: 8px;
				
				.title {
					font-size: 24px;
					font-weight: bold;
					color: #333333;
					text-align: center;
					margin-bottom: 24px;
				}
			}
		}
	}
}

