.stage-container {
	margin-top: 12px;
}
.stage {
	width: 480px;
	height: 480px;
	border: 2px solid #ccc;
	position: relative;
}
.controls {
	margin-top: 12px;
	display: flex;
	gap: 8px;
}

.image-upload-block {
	width: 100%;
	height: 124px;
	padding: 16px;
	border: 1px solid #E2E8F0;
	border-radius: 8px;
	background-color: #fff;
}
$button-color: #64748B;

.browse-input {
	&:hover {
		background-color: darken($button-color, 10%);
	}
	padding: var(--p-button-padding-y) var(--p-button-padding-x);
	cursor: pointer;
	background-color: $button-color;
	color: #fff;
	border: none;
	border-radius: 8px;
	display: inline-flex;
	align-items: center;
	gap: 4px;
}

.image-upload-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px dashed #ccc;
	border-radius: 8px;
	width: 760px;
	cursor: pointer;
	position: relative;
}