.stage-container {
	margin-top: 12px;
}
.stage {
	width: 480px;
	height: 480px;
	border: 2px solid #ccc;
	position: relative;
}
.controls {
	margin-top: 12px;
	display: flex;
	gap: 8px;
}

.browse-input {
	padding: var(--p-button-padding-y) var(--p-button-padding-x);
	cursor: pointer;
	background-color: #64748B;
	color: #fff;
	border: none;
	border-radius: 8px;
}

.image-upload-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px dashed #ccc;
	border-radius: 8px;
	width: 760px;
	cursor: pointer;
	position: relative;
}