li{
	border-bottom: 1px solid #e0e2e7;
	padding-bottom: 10px;
	margin-bottom: 10px;
	&:last-child{
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}
.frame{
	display: flex;
	align-items: center;
	a{
		width: 100%;
		display: flex;
		align-items: center;
		color: var(--color);
	}
	label{
		border-radius: 6px;
		background-color: var(--primary-color);
		color: #ffffff;
		padding: 3px 8px;
		font-size: 12px;
		margin-right: 12px;
		white-space: nowrap;
	}
	.date{
		color:#808287;
		margin-left: 5px;
		font-size: 14px;
		white-space: nowrap;
	}
	.delete-btn{
		width: 38px;
		height: 38px;
		margin-left: auto;
		cursor: pointer;
		margin-left: 5px;
		svg{
			width: 16px;
			height: 16px;
			flex-shrink: 0;
			fill:var(--color);
		}
	}
}

.no-data{
	text-align: center;
	color: #808287;
	font-size: 24px;
}