.dead-line-panel {
	display: flex;
	flex-direction: column;
	gap: 12px;
	background: #fffbe6;
	border: 1px solid #ffe58f;
	border-radius: 4px;
	padding: 12px 16px;
	color: #ad6800;
	font-size: 0.95rem;

	.emphasis {
		font-weight: 600;
		font-size: 1.25rem;
	}

	p {
		font-weight: 300;
	}
	
	.tips {
		background-color: #FFFFFF;
		padding: 8px 12px;
		border-radius: 4px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;
		margin-top: 6px;
		font-size: 0.9rem;
		color: #fa8c16;
		font-weight: 600;
	}
}