$form-floating-height:58px;
$form-floating-line-height: 1.5;
$form-floating-padding-x: 12px;
$form-floating-padding-y: 16px;
$form-floating-input-padding-t: 28px;
$form-floating-input-padding-b: .625rem;
$form-floating-transition: all .1s ease-in-out;
$form-floating-label-opacity: .65;
$form-floating-label-transform: scale(.85) translateY(-.5rem) translateX(.15rem);;
$input-border-width: 1px;

.form-floating {
    position: relative;
    .form-control{
      font-weight: 400;
    }
  
    > .form-control,
    > .form-control-plaintext,
    > .form-select {
      height: $form-floating-height;
      line-height:  1.25;
    }
  
    > label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; // allow textareas
      padding: $form-floating-padding-y $form-floating-padding-x;
      overflow: hidden;
      text-align: start;
      text-overflow: ellipsis;
      white-space: nowrap;
      pointer-events: none;
      border: $input-border-width solid transparent; // Required for aligning label's text with the input as it affects inner box model
      transform-origin: 0 0;
      transition: $form-floating-transition;
      letter-spacing: 0;
      margin-left: -1px;
    }
  
    > .form-control,
    > .form-control-plaintext {
      padding: $form-floating-padding-y $form-floating-padding-x;
  
      &::placeholder {
        color: transparent;
      }
  
      &:focus,
      &:not(:placeholder-shown) {
        padding-top: $form-floating-input-padding-t;
        padding-bottom: $form-floating-input-padding-b;
      }
      // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
      &:-webkit-autofill {
        //padding-top: $form-floating-input-padding-t;
       // padding-bottom: $form-floating-input-padding-b;
      }
    }
  
    > .form-select {
      padding-top: $form-floating-input-padding-t;
      padding-bottom: $form-floating-input-padding-b;
    }
  
    > .form-control:focus,
    > .form-control:not(:placeholder-shown),
    > .form-control-plaintext,
    > .form-select {
      ~ label {
        opacity: $form-floating-label-opacity;
        transform: $form-floating-label-transform;
      }
    }
    // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
    > .form-control:-webkit-autofill {
      ~ label {
        opacity: $form-floating-label-opacity;
        transform: $form-floating-label-transform;
      }
    }
  
    > .form-control-plaintext {
      ~ label {
        border-width: $input-border-width 0; // Required to properly position label text - as explained above
      }
    }
  }
  