<header>
    <div class="container">
        <!-- 返回 -->
        <button type="button" matIconButton (click)="goBack()"><svg><use xlink:href="#back-icon"></use></svg></button>

        @if(this.data()) {
            <!-- 字級 -->
            <button type="button" class="font-btn" [matMenuTriggerFor]="menu" matIconButton><svg><use xlink:href="#fontsize-icon"></use></svg></button>
            <mat-menu #menu="matMenu" class="font-size-menu">
                <button mat-menu-item (click)="setFontSize(24)" [class.active]="fontSize()==24">特大</button>
                <button mat-menu-item (click)="setFontSize(22)" [class.active]="fontSize()==22">大</button>
                <button mat-menu-item (click)="setFontSize(20)" [class.active]="fontSize()==20">適中</button>
            </mat-menu>
            <!-- 筆記 -->
            <button type="button" matIconButton (click)="openNote()">
                @if(this.data()!.notes) {
                    <svg><use xlink:href="#note-icon-fill"></use></svg>
                } @else {
                    <svg><use xlink:href="#note-icon"></use></svg>
                }
                
            </button>
            <!-- 收藏 -->
            <button type="button" matIconButton (click)="like()">
                @if(data()!.is_favorite) {
                    <svg><use xlink:href="#like-icon-fill"></use></svg>
                } @else {
                    <svg><use xlink:href="#like-icon"></use></svg>
                }
            </button>
        }
    </div>
</header>

<div class="container article-container">
    @if(this.data()) {
        <article>
            <div class="title">{{this.data()!.title}}</div>
            <div class="info-frame">
                <label>{{this.data()!.category}}</label>
                <div class="author"><svg class="icon"><use xlink:href="#author-icon"></use></svg>{{this.data()!.author_name}}@if(this.data()!.resource_of_news){／{{this.data()!.resource_of_news}}}</div>
            </div>
            @if(this.data()!.notes) {
                <section class="note-frame">
                    <div class="note-title"><svg><use xlink:href="#note-icon-fill"></use></svg>我的筆記</div>
                    <div class="note-content" [style.fontSize.px]="fontSize() - 2" [innerHTML]="this.data()!.notes"></div>
                </section>
            }
            <div class="cover-swiper">
                <swiper-container init="false" loop="true" class="swiper" #swiper>
                    @for (item of this.data()!.images; track $index) { 
                        <swiper-slide>
                            <div class="cover-frame">
                                <img [src]="item.url">
                                @if(item.title){
                                    <div class="desc">{{item.title}}</div>
                                }
                            </div>
                        </swiper-slide>
                    }
                </swiper-container>
                @if(this.data()!.images.length > 1) {
                    <button mat-icon-button class="switch-btn prev" (click)="coverPrev()">
                        <svg><use xlink:href="#arrow-icon"></use></svg>
                    </button>
                    <button mat-icon-button class="switch-btn next" (click)="coverNext()">
                        <svg><use xlink:href="#arrow-icon"></use></svg>
                    </button>
                }
            </div>

            <div class="content" [style.fontSize.px]="fontSize()" [innerHTML]="this.data()!.content"></div>

            <section>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        @if(this.prevData()) {
                            <a class="next-frame prev" [routerLink]="['/news',this.prevData()!.news_key]">
                                <div class="sub-title"><svg><use xlink:href="#next-icon"></use></svg>閱讀上一篇</div>
                                <div class="next-news">
                                    <img [src]="this.prevData()!.image_url">
                                    <div class="title-frame">
                                        <div class="title">{{this.prevData()!.title}}</div>
                                        <div class="time-frame">
                                            <!-- <div class="date"><svg><use xlink:href="#clock-icon"></use></svg>{{this.prevData()!.created_at}}</div> -->
                                            <div class="author">{{this.prevData()!.author_name}}@if(this.prevData()!.resource_of_news){／{{this.prevData()!.resource_of_news}}}</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                    <div class="col-12 col-lg-6">
                        @if(this.nextData()) {
                            <a class="next-frame" [routerLink]="['/news',this.nextData()!.news_key]">
                                <div class="sub-title"><svg><use xlink:href="#next-icon"></use></svg>閱讀下一篇</div>
                                <div class="next-news">
                                    <img [src]="this.nextData()!.image_url">
                                    <div class="title-frame">
                                        <div class="title">{{this.nextData()!.title}}</div>
                                        <div class="time-frame">
                                            <!-- <div class="date"><svg ><use xlink:href="#clock-icon"></use></svg>{{this.nextData()!.created_at}}</div> -->
                                            <div class="author">{{this.nextData()!.author_name}}@if(this.nextData()!.resource_of_news){／{{this.nextData()!.resource_of_news}}}</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </section>

        </article>
    }@else {
        <article>
            <div class="title"><p-skeleton height="40px"></p-skeleton></div>
            <div class="info-frame">
                <p-skeleton width="49px" height="30px"></p-skeleton>
                <div class="author"><p-skeleton width="107px" height="20px"></p-skeleton></div>
            </div>
            <div class="cover-swiper">
                <p-skeleton class="skeleton-cover"></p-skeleton>
            </div>

            <div class="content">
                @for (_ of [0,1,2,3]; track $index) {
                    <p-skeleton class="mb-3" height="22px"></p-skeleton>
                }
                <p-skeleton class="mb-3" width="70%" height="22px"></p-skeleton>
            </div>

        </article>
    }

</div>