@use "_mediaWidth" as *;
@use "_floating-input" as *;

.bg {
    position: fixed;
    top: 0;
    left: 0;
    background: url('../../../public/images/pattern.svg') repeat center center;
    background-size: auto;
    width: 100%;
    height: 100vh;
}
.blur-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    overflow-y: auto;
    display: flex;
}
.wrapper{
    
    width: 100%;
    max-width: 600px;
    margin: auto;
    @media screen and (min-width: 768px) and (min-height: 886px) {
    
    }
    @media screen and (min-width: 768px) and (max-height: 886px) {
    
    }
    .logo{
        width: 150px;
        height: 28px;
        fill:#ffffff;
        display: block;
        margin: 0 auto 25px auto;
    }
    .component{
        background: #ffffff;
        padding: 20px 20px;
        border-radius: 16px;
        box-shadow: var(--box-shadow);
        @include medium{
            padding: 50px 70px;
        }
    }
}

.title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 2px;
        background-color: var(--color);
        border-radius: 2px;
    }
}

.my-input{
    margin-top: 15px;
}
.error{
    font-size: 14px;
    color: #F40005;
    margin-top: 5px;
}
.code-error{
    font-size: 14px;
    color: #F40005;
    text-align: center;
}
.remember-frame{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
    margin-top: 10px;
    font-size: 14px;
    color: #666666;
    .remember-me{
        &::ng-deep .mdc-label{
            margin-left: -7px;
        }
    }
}

.message{
    margin-top: -25px;
    margin-bottom: 60px;
    font-size: 14px;
    color: #505257;
    text-align: center;
    line-height: 1.8;

}
.verification{
    display:flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
.code-resend{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: var(--color);
}

::ng-deep .submit-btn{
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    border-radius: var(--border-radius);
    margin-top: 30px;
}

.info-frame {
    margin-top: 20px;
    line-height: 1.8;
    font-size: 14px;
    background-color: #fafcfe;
    border: 1px solid #e0e2e7;
    border-radius: 8px;
    padding: 15px;
    ul{
        counter-reset: number;
        margin: 10px 0;
        li{
            display: flex;
            align-items: flex-start;
            margin-bottom: 7px;
            &::before{
                counter-increment: number;
                content: counter(number);
                background-color: #222222;
                color: #ffffff;
                border-radius: 100%;
                display: inline-flex;
                justify-content: center;
                min-width: 16px;
                width: 16px;
                height: 16px;
                font-size: 12px;
                line-height: 16px;
                margin-right: 8px;
                margin-top: 4px;
            }
        }
    }
}

.form-floating{
    label{
        font-weight: 400;
    }
    input {
        font-size: 16px;
    }
    .switch-btn{
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        svg{
            width: 24px;
            height: 24px;
            fill: #999999;
        }
    }
}

.two-col-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0;
	
	.div1 {
		grid-area: 1 / 1 / 2 / 2;
	}
	.div2 {
		grid-area: 1 / 2 / 2 / 3;
	}
}

.deco {
	background-size: contain;
	background: #000000 url("../../../public/images/pattern.svg") repeat-x center top;
	width: 100%;
	height: 100vh;
}