.container {
	height: 100%;
	padding: 20px;
	//border: 1px solid red;
	.subscription-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40px 20px;
		background-color: #5a5a5a;
		border-radius: 8px;
		color: #fff;
		width: 100%;
		box-sizing: border-box;
		gap: 16px;
	}
}

.ml-2 {
	margin-left: 8px;
}

.text-xl {
	font-size: 24px;
	margin-bottom: 20px;
}