@use "_mediaWidth" as *;

.container{
	display: flex;
	align-items: flex-start;
	padding-top:  calc(var(--header-height) + 30px);
}

nav {
	display: none;
	background-color: #F8FAFC;
	border-radius: var(--border-radius);
	position: sticky;
	top: calc(var(--header-height) + 30px);
	flex-shrink: 0;
	margin-right: 20px;
	@include medium() {
		display: block;
	}
	@include large() {
		width: 220px;
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 8px;
		li {
			display: flex;
			align-items: center;
			a {
				display: flex;
				align-items: center;
				gap: 8px;
				width: 100%;
				padding: 12px;
				border: 1px solid #e0e2e5;
				border-radius: var(--border-radius);
				text-decoration: none;
				color: var(--color);
				background-color: #ffffff;
				cursor: pointer;
				transition: background-color 250ms;
				.active {
					display: none;
				}
				.inactive {
					display: inline-block;
				}
				&.active-link {
					font-weight: bold;
					color: var(--primary-color);
					background-color: rgba(0, 0, 0, 0.78);
					.active {
						display: inline-block;
					}
					.inactive {
						display: none;
					}
				}
			}
		}
		
	}
}

section{
	width: 100%;
	padding-bottom: 30px;
}
.component {
	background-color: #F1F5F9;
	border-radius:var(--border-radius);
	padding: 20px;
}