.background {
	width: 100%;
	height: 100%;
	background-color: #F0F7FF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	.wrapper {
		width: 400px;
		padding: 40px;
		background-color: #FFFFFF;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		
		.title {
			font-size: 24px;
			font-weight: bold;
			color: #333333;
			text-align: center;
			margin-bottom: 24px;
		}
	}
}