<div class="two-col-grid">
    <div class="div1">
        <app-manufacturers-side-initial-ui/>
    </div>
    <div class="div2">
        <div class="background">
            <div class="wrapper">
                <h1 class="title">忘記密碼</h1>
                <p>輸入您的郵件地址進行驗證，我們會將驗證碼寄到您的信箱</p>
                <div class="input-group">
                    <p-floatlabel variant="on">
                        <input [(ngModel)]="email_value" autocomplete="off" fluid id="email" pInputText/>
                        <label for="email">電子郵件</label>
                    </p-floatlabel>

                    <p-button
                            [style]="{
                width: '100%',
                color: 'white',
                backgroundColor: 'rgba(0,0,0,1)',
                }"
                            label="送出"
                            severity="primary"
                    />
                </div>
            </div>
        </div>
    </div>
</div>