<div class="w-full flex justify-end mb-3">
    @if (addOrEditMode() === 'off') {
        <p-button
                (click)="toggleAddOrEditMode()"
                [style]="{
                color: 'white',
                backgroundColor: 'rgba(0,0,0,1)',
            }"
                label="新增/編輯"
                severity="secondary"
                variant="text"
        />
    } @else {
        <div class="flex items-center gap-3">
            <p-button
                    (click)="toggleAddOrEditMode()"
                    [style]="{
                width: '100%',

            }"
                    fluid
                    label="取消"
                    variant="outlined"

            />
            <p-button
                    [style]="{
                width: '100%',
                color: 'white',
                backgroundColor: 'rgba(0,0,0,1)',
            }"
                    fluid
                    label="提交"
                    severity="primary"
            />

        </div>
    }

</div>
<div class="form-wrapper">
    <div class="div1">
        <p-floatlabel variant="in">
            <input autocomplete="off" fluid id="highlight" pInputText/>
            <label for="highlight">展覽亮點</label>
        </p-floatlabel>
    </div>
    <div class="div2">
        <p-floatlabel variant="in">
            <textarea class="h-full" cols="30" fluid id="description" pTextarea rows="1"
                      style="resize: vertical"></textarea>
            <label for="description">亮點說明</label>
        </p-floatlabel>
    </div>
</div>

@if (addOrEditMode() === 'on') {
    <div class="flex justify-center">
        <p-button [rounded]="true" icon="pi pi-plus"/>
    </div>
}


<div class="form-actions">
    <div class="div1">
        <p-button
                [style]="{
                width: '100%',

            }"
                fluid
                label="取消"
                variant="outlined"

        />
    </div>

    <div class="div2">
        <p-button
                [style]="{
                width: '100%',
                color: 'white',
                backgroundColor: 'rgba(0,0,0,1)',
            }"
                fluid
                label="提交"
                severity="primary"
        />
    </div>


</div>
