.form-wrapper {
	min-width: 800px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 12px;
	grid-row-gap: 0;

	.div1 {
		display: grid;
		place-items: center;
		grid-area: 1 / 1 / 2 / 2; }
	.div2 { grid-area: 1 / 2 / 2 / 6; }
	.div3 { grid-area: 1 / 6 / 2 / 13; }
}

.form-actions {
	min-width: 400px;
	display: flex;
	gap: 1rem;
	margin-top: 1.5rem;

	.div1,
	.div2 {
		flex: 1;
	}
}

.item-wrapper {
	min-width: 800px;
	width: 100%;
	padding: 8px;
	margin-bottom: 12px;
	border-bottom: 1px solid #e0e0e0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 24px;
	grid-row-gap: 12px;


	.div1 {
		grid-area: 1 / 1 / 2 / 3;
	}
	.div2 {
		grid-area: 1 / 3 / 2 / 7;
	}
}

.t-body-wrapper {
	width: 980px;
	height: 400px;
	overflow: auto;
	margin-bottom: 20px;
}

.header-wrapper {
	padding: 8px;
	margin-bottom: 12px;
	border-bottom: 1px solid #e0e0e0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 24px;
	grid-row-gap: 12px;


	.header-title {
		grid-area: 1 / 1 / 2 / 3;
	}
	.header-description {
		grid-area: 1 / 3 / 2 / 7;
	}
}