.form-wrapper {
	min-width: 600px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 12px;
	grid-row-gap: 0;

	.div1 { grid-area: 1 / 1 / 2 / 3; }
	.div2 { grid-area: 1 / 3 / 2 / 6; }
}

.form-actions {
	min-width: 400px;
	display: flex;
	gap: 1rem;
	margin-top: 1.5rem;

	.div1,
	.div2 {
		flex: 1;
	}
}