<div class="w-full flex justify-end mb-3">
    @if (addOrEditMode() === 'off') {
        <p-button
                (click)="toggleAddOrEditMode()"
                [style]="{
                color: '#494a4e',
                backgroundColor: 'rgba(0,0,0,0.1)',
            }"
                label="新增/編輯"
                severity="secondary"
                variant="text"
        />
    } @else {
        <div class="flex items-center gap-3">
            <p-button
                    (click)="toggleAddOrEditMode()"
                    [style]="{
                width: '100%',
                color: 'white',
                backgroundColor: 'rgba(0,0,0,1)',
            }"
                    fluid
                    label="提交"
                    severity="primary"
            />

        </div>
    }

</div>

<div class="header-wrapper">
    <div class="header-title">展會亮點</div>
    <div class="header-description">亮點描述</div>
</div>
@if (addOrEditMode() === 'off') {
    <div class="t-body-wrapper">
        @for (item of data(); track $index) {
            <div
                    [ngClass]="{'!border-b-0': $index === data().length - 1}"
                    class="item-wrapper"
            >
                <div class="div1">{{ item.highlight }}</div>
                <div class="div2">
                    {{ item.detail }}
                </div>
            </div>
        }
    </div>
}

@if (addOrEditMode() === 'on') {
    <div class="t-body-wrapper">
        @for (item of data(); track $index) {
            <div class="form-wrapper">
                <div
                        (click)="deleteHighlight($index)"
                        class="div1"
                >
                    <i class="pi pi-minus-circle text-2xl text-red-600 cursor-pointer"></i>
                </div>
                <div class="div2">
                    <p-floatlabel variant="in">
                        <input
                                [(ngModel)]="item.highlight"
                                autocomplete="off"
                                fluid id="highlight"
                                pInputText
                        />
                        <label for="highlight">展覽亮點</label>
                    </p-floatlabel>
                </div>
                <div class="div3">
                    <p-floatlabel variant="in">
            <textarea
                    [(ngModel)]="item.detail"
                    class="h-full"
                    cols="30"
                    fluid
                    id="description"
                    pTextarea
                    rows="1"
                    style="resize: vertical"
            >

            </textarea>
                        <label for="description">亮點說明</label>
                    </p-floatlabel>
                </div>
            </div>
        }
    </div>
}


@if (addOrEditMode() === 'on') {
    <div
            (click)="addHighlight()"
            class="flex justify-center"
    >
        <p-button [rounded]="true" icon="pi pi-plus"/>
    </div>
}
