.form-row-one {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0;
	
	.div1 {
		grid-area: 1 / 1 / 2 / 2;
	}
	
	.div2 {
		grid-area: 1 / 2 / 2 / 3;
	}
}

.form-row-two {
	display: flex;
	
	.div1 {
		flex: 1;
	}
}

:host {
	display: flex;
	width: 600px;
}