.form-row-one {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 0;
	
	.div1 {
		grid-area: 1 / 1 / 2 / 2;
	}
	
	.div2 {
		grid-area: 1 / 2 / 2 / 3;
	}
}

.form-row-two {
	display: flex;
	
	.div1 {
		flex: 1;
	}
}

.form-row-three {
	display: flex;
	gap: 8px;
	
	.div1 {
		flex: 1 1 15%;
	}
	
	.div2 {
		flex: 1 1 10%;
	}
	
	.div3 {
		flex: 1 1 55%;
	}
	
	.div4 {
		flex: 1 1 20%;
	}
}

.form-row-four {
	display: flex;
	gap: 8px;
	
	.div1 {
		flex: 1 1 15%;
	}
	
	.div2 {
		flex: 1 1 75%;
	}
}

.form-actions {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	
	.div1 {
		flex: 1;
	}
	
	.div2 {
		flex: 1;
	}
}

:host {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 600px;
}