.wrapper {
	padding: 20px;
}

h2{
	font-size: 18px;
	margin-top: 0;
	margin-bottom: -10px;
}

.form-label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #707278;
    display: flex;
    align-items: center;
}

.gender{
	margin-left: 10px;
	width: 32px;
	flex-shrink: 0;
}

.nation-code{
	width: 80px;
}

.area-code{
	width: 100px;
}

.extension-number{
	width: 80px;
}

.disabled-input{
	display: flex;
	align-items: center;
	background-color: rgba(0,0,0,0.04);
}

.update-pwd-btn{
	--mat-button-filled-label-text-color:#ffffff;
	--mat-button-filled-container-color:#404247;
	white-space: nowrap;
	margin-left: 10px;
	height: 38px;
	cursor: pointer;
}

.radio::ng-deep{
	margin-left: -10px;
	.mat-mdc-radio-button{
		margin-right: 15px;
	}
	label{
		font-size: 16px;
		margin-left: -7px;
	}
}

::ng-deep .submit-btn{
	min-width: 100px;
}

.progressBar{
	position: fixed;
	top: var(--header-height);
	left: 0;
	width: 100%;
	z-index: 10;
}