@use "_floating-input" as *;


.input {
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #F2F3F4;
    padding-top: 34px !important;
}

.form-floating {
    margin-top: 15px;
}

.error-msg{
    color: #f44336;
    font-size: 14px;
    margin-top: 2px;
}

::ng-deep .submit-btn {
    margin-top: 20px;
    border-radius: var(--border-radius);
}