<button class="close-btn" mat-icon-button mat-dialog-close>
    <svg><use xlink:href="#close-icon"></use></svg>
</button>
<h2 mat-dialog-title>更新密碼</h2>

<mat-dialog-content class="dialog-content">
    <form [formGroup]="myForm">
        
        <div class="form-floating">
            <input type="password" id="old_password" class="form-control input" formControlName="old_password" placeholder="" (keyup)="wrongPwd && reset()">
            <label for="old_password">輸入您的舊密碼</label>
        </div>
        @if (wrongPwd) { <div class="error-msg">*舊密碼輸入錯誤</div> }

        <div class="form-floating">
            <input type="password" id="password" class="form-control input" formControlName="password" placeholder="">
            <label for="password">輸入新密碼</label>
        </div>
        @if (password?.touched && (password?.errors?.['minlength'] || password?.errors?.['passwordStrength'])) { <div class="error-msg">*密碼長度至少8個字元，包含大、小寫英文字母和數字</div> }

        <div class="form-floating">
            <input type="password" id="password-checked" class="form-control input" formControlName="password_checked" placeholder="">
            <label for="password-checked">再次輸入新密碼</label>
        </div>
        @if (password_checked?.touched && myForm.errors?.['passwordConfirm'])  { <div class="error-msg">*密碼不一致</div> }

        <div align="center">
            <p-button label="送出" styleClass="submit-btn" [loading]="loading" [disabled]="!myForm.valid" (click)="check()"/>
        </div>
        

    </form>
</mat-dialog-content>