:host {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.upload-section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
}

.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 5; }
.div3 { grid-area: 2 / 1 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 5; }
.div5 { grid-area: 3 / 2 / 4 / 5; }
.div6 { grid-area: 3 / 1 / 4 / 2; }