$border: #E2E8F0;
:host {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.operation-area {
	height: calc(100vh - 320px);
	overflow-y: auto;
}
.upload-section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
}

.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 5; }
.div3 { grid-area: 2 / 1 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 5; }
.div5 {
	grid-area: 3 / 1 / 4 / 2;
	.exhibition-theme {
		height: 150px;
		border: 1px solid $border;
		border-radius: 4px;
		padding: 20px;
		resize: none;
		width: 100%;
		box-sizing: border-box;
		font-weight: 700;
	}
}
.div6 {
	grid-area: 3 / 2 / 4 / 5;
	.exhibition-highlights {
		height: 150px;
		border: 1px solid $border;
		border-radius: 4px;
		padding: 20px;
		resize: none;
		width: 100%;
		box-sizing: border-box;
		overflow-y: auto;
		ul {
			list-style-type: disc;
			margin: 0;
			padding-left: 20px !important;
			li {
				margin-bottom: 8px;
			}
		}
	}
}
