header{
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    height: var(--header-height);
    box-shadow: var(--image-box-shadow);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.702);
    backdrop-filter: blur(8px);
}
.container{
    display: flex;
    align-items: center;
}

.logo{
    svg{
        width: 135px;
        height: 22px;
        fill: var(--color);
    }   
    
}

.menu-btn{
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: -10px;
    svg{
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        fill: #404247;
    }
}