@use "_mediaWidth" as *;

$border: #DAEAFF;

.app-wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
	.wrapper {
		width: 100%;
		max-width: 1400px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	
	.progressbar-wrapper {
		//border: 1px solid red;
		display: flex;
		flex-direction: column;
		gap: 8px;
		
		.progressbar-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			.data-completeness {
				font-size: 14px;
				color: #555555;
			}
			
			.last-update-review-status {
				font-size: 14px;
				color: #555555;
			}
		}
	}
	
	.content-wrapper {
		//border: 1px solid red;
		height: calc(100vh - 150px);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 0;
		
		.sidebar {
			padding: 20px;
			border: 1px solid $border;
			border-radius: 4px;
			grid-area: 1 / 1 / 2 / 2;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			gap: 20px;

			.deadline-wrapper {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
			
			h3 {
				font-size: 1.2rem;
				color: #333;
				font-weight: 600;
			}
		}
		
		.main-content {
			grid-area: 1 / 2 / 2 / 5;
			flex: 1;
			border: 1px solid $border;
			border-radius: 4px;
			padding: 20px;
		}
	}
	
	.button-block {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 12px;
	}
}

